/*****/
*{
  text-decoration: none;
  font-family: Tahoma;
}

h3{
  font-size:3rem;
  color: white;
  
}

body{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  color: white;
}

section{
background:url("../assets/Netflixbg1.jpg");
  background-size:cover;
  position: relative;
  height:auto;
  width:100%;
  overflow: hidden;
  /*
  position:fixed;
  
  */
  padding-bottom:160px;
}


.head{
  
  display: flex;
  margin-top:1.7rem;
  position: relative;
  width: 100%;
  justify-content: space-between;
  
  
}

.head img{
  width: 115px;
  height: 37px;
  margin-left:5rem;
}
.join{
margin-right:8rem;
}
.join a{
position: absolute;
padding: 5px 13px;
background: red;
color: white;
border-radius: 5px;
}

.content{
  
  
  align-items: center;
  justify-content: center;
  margin: auto;
  height: auto;
  width: 80%;
  
  
}

.heading{
  text-align: center;
  margin-top: 10rem;
}
.heading h1{
font-size:3.7rem;
font-weight: 10px;
}


.heading p{
  font-size:1.4rem;
}

.loging{
  position: relative;
  display: flex;
  flex-direction:column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loging button{
  position: absolute;
  background:red;
  border: none;
  outline: none;
  font-size:1.4rem;
  width:13rem;
  height:3.5rem;
  color: white;
  
}

.loging input{
  position: relative;
margin-left:-220px;
padding:5px;
 width:26rem;
 height:2.9rem;
 outline: none;
 border: none;

}

input:hover{
  border-bottom:4px orange solid;
}

.column{
position: relative;
width: 100%;

}

.cnt p{
  font-size: 1.6rem;
  margin-top: -15px;
}

.container{
  height:auto;
  width: 100%;
  border-top: 6px #242424 solid;
  background:black;
  position: relative;
  direction: flex;
  
}

.container-1{
 display: grid;
 grid-template-columns:50% 40%;
}

.cntnt-1{
  text-align: left;
  margin-left: 40px;
  margin-top: 50px;
  padding:0px 10px 45px;
}
.container-2{
  display: grid;
 grid-template-columns:40% 50%;
 
}
.cntnt-2{
  text-align:left;
  padding: 65px;
  line-height:1;
  margin-top:-50px;
  margin-right:-90px;
}

.container-3{
  display: grid;
 grid-template-columns:50% 40%;
 /* border-bottom: 5px orange solid;*/ 
}

.cntnt-3{
  text-align: left;
  margin-left:20px;
  padding: 50px;
}

.image1{
margin-top:30px;
margin-left:49px;
}
.container-1 video{
width:19rem;
position: relative;
margin-left:55px;
margin-top:65px;
}

#tv{
  position: absolute;
  width:26rem;
  z-index: 1;
}

.image2{
  margin-top: 50px;
}

.smallbox{
  position: relative;
  width: 270px;
  height: 90px;
  border: 1.5px #232323 solid;
  border-radius:5px;
  margin-top:-110px;
  margin-left:40px;
  background:black;
}

.smallbox img{
  width: 60px;
  position: absolute;
  text-align: center;
  top: 10px;
  left: 10px;
}

.smallbox span{
  color:#0fa3fc;
  font-size:12;
}

.smallbox h5{
 font-size:17px; 
}

.smallbox span, h5{
line-height:0;
margin-left:90px;
}

.smallbox .lottie{
  
  position: absolute;
  top: 40px;
  right: 30px;
  
}

#tvoff{
  position: absolute;
  width:26rem;
  margin-top:60px;
  margin-left:58px;
  z-index: 6;
  
}

.image3 video{
  
 width:16rem;
 position: relative;
 top: 25%;
 margin-left:140px;

}

/* container 4 column 4*/

summary::-webkit-details-marker{
  color:transparent;
}
summary {
  outline: none;
  
}

.container-4{
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  background:black;
  align-items: center;
  border-top:6px #242424 solid;
}
.container-4 h4{
  font-size: 50px;
  text-align: center;
}

.container-4 .que{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height:auto;
  width: 100%;
}

.que details{
  justify-self:center;
  margin-bottom:10px;
  width: 65%;
  transition: 1s ;
}

 summary::-webkit-details-marker{
  background:green;
}
 
 
 
summary{
  font-size:25px;
  padding: 26px 17px 26px 10px;
  color: white;
  background: #2a2a2a;
  outline: none;
  width: 100%;
}

details p{
  
  margin: 0;
  font-size:25px;
  width: 96.5%;
  padding: 16px 25px;
  text-align: left;
  background: #2a2a2a;
 
}

summary .fa{
float: right;
color:white;
font-size:25px;
}

.inp{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:auto;
  position: relative;
  text-align: center;
  padding-bottom:40px;
  
}

.para{
  
  margin-top:50px;
  margin-bottom:0px;
  text-align: center;
  
}

.inp input{
  
  width:29rem;
  height: 2rem;
  
}
.inp input[type="email"]{
  padding: 5px;
}
.inp button{
  background: red;
  color: white;
  width:11rem;
  height:2.9rem;
  border: none;
  outline: none;
  font-size: 15px;
  margin-top: 15px;
  margin-left:-9px ;
}

footer{
  height: auto;
  width: 100%;
  background: black;
  display: flex;
  flex-direction:column;
  border-top:6px #242424 solid;
  position: relative;
  padding-left:75px;
 box-sizing: border-box; 
}


.top p, a{
  color: #8c8c8c;
  text-align: left;
  font-size:15px;
}
.top a:hover{
 text-decoration: underline;
}

.top p{
  margin-top:50px;
}
.middle{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  
}
.middle a{
  text-align:left;
  width:25%;
  padding:10px 0px ;
  font-size:13px;
  color: #8c8c8c;
  float: left;
  
}
 .middle a:hover{
 text-decoration: underline;
}

.middle a:last-of-type{
  text-align: left;
  float: left;
  margin-left: 0;
}

select{
  width: 7.5rem;
  height: 2.8rem;
  padding: 10px;
  background: none;
  border: 0.6px #8c8c8c solid ;
  outline: none;
  color: #8c8c8c;
  margin-top:35px;
  padding-left: 46px;
}

select:hover{
  
  border: 0.6px orange solid ;
  
}

 footer .fa {
   position: absolute;
  color: #8c8c8c;
  font-size:25px;
  z-index: 222;
  bottom: 65px;
  left: 90px;
}

.bottom p{
  font-size: 14px;
  color: #8c8c8c;
  margin-bottom: 20px;
  margin-top: 20px;
}

input{
  font-size:17px;
  font-weight:580;
}



@media(orientation: portrait) and (min-width:1000px){
 
 .cnt p{
  font-size:0.4rem;
}
 
}


/****……………………………………………………………………………***/

@media screen and (max-width:500px){
  
 section{
background:url("../assets/Netflixbg1.jpg");
  background-size:cover;
  position: relative;
  height:70vh;
  padding: 0;
  
} 
  
.head{
  display: flex;
  margin-top:1.7rem;
}

.head img{
  width: 85px;
  height:28px;
  margin-left:15px;
}

.join{
  
margin-right:85px;

}

.join a{
position: absolute;
padding:4px 11.5px;
background: red;
color: white;
border-radius: 3px;
font-size: 15px;
} 

.heading{
  
  margin-top:5rem;
  
}

.heading h1{
  
font-size:1.7rem;
font-weight: 10px;
text-transform:capitalize;

}

.heading p{
  font-size:1rem;
}

.loging{
  position: relative;
  display: flex;
  flex-direction:column;
  width: 100%;
  
}

.loging button{
  
  padding:10px 20px;
  display: flex;
  text-align: center;
  flex-direction:column;
  margin-left:75px;
  margin-top:10px;
  background:#e01111;
  border: none;
  width: 160px;
  height:40px;
  outline: none;
  font-size:17px;
  color: white;

}

.loging input{
  
 margin-left:-5px;
 width:19rem;
 height: 28px;
 outline: none;
 border: none;
 
}

input:hover{
  border-bottom:4px orange solid;
}

.column{
margin: 0;
position: relative;
top: 0;
}

.container{
  height:66vh;
  width: 100%;
  border-top: 6px #242424 solid;
  background:black;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cnt{
  margin: 100px;
}

.cntnt-1 {
  order:1;
  flex-basis:40%;
  text-align: center;
  padding: 30px;
}
.image1 {
  position: relative;
  order:2;
  flex-basis:60%;
margin-top: -40px;
  
}
.cntnt-2 {
  order:1;
  flex-basis:40%;
  text-align: center;
}
.cntnt-2 h3{
   font-size:1.6rem;
}
.image2{
  order:2;
  flex-basis:60%;
  margin-top:-50px;

}
.cntnt-3{
  order:1;
  flex-basis:40%;
  text-align: center;
  
}
.image3{
  order:2;
  flex-basis:60%;
}

.cnt{
  margin: 0;
  padding: 24px;
}
.cnt p{
  font-size:1rem;
}
.cnt h3{
   font-size:1.8rem;
}

#tv{
  position: relative;
  width: 19rem;
  margin-left:-25px;
}
 #vdo{
width:15rem;
height: 8rem;
position: absolute;
margin-left:-274px;
margin-top:42px;
}

.image2 #s-t{
 width: 340px; 
}
.smallbox{
    width: 270px;
  height: 60px;
  position: relative;
  margin-top:-75px;
}

.smallbox img{
  width: 35px;
  position: absolute;
  text-align: center;
  top: 10px;
  left: 10px;
}

.smallbox span{
  color:#0fa3fc;
  font-size:8px;
}

.smallbox h5{
 font-size:16px; 
}

.smallbox #txt{
  position: absolute;
  padding: 0;
 margin-left:68px;
}

.smallbox span{
  margin-top: 47px;
  
  
}
.smallbox #lot{
  position: relative;
  left:220px;
  margin-top:-20px ;
}

#tvoff{
  
  position: absolute;
  width:22rem;
  margin-top:-25px;
  margin-left:5px;
  z-index: 6;
  
}

.image3 video{
  
 width:14rem;
 position: relative;
 margin-top:-65px;
 margin-left:65px;

}

/* container 4 column 4*/
.container-4{
  position: relative;
  height:auto;
  width: 100%;
  background:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top:6px #242424 solid;
}

.container-4 h4{
  position: absolute
  color: white;
  height: 20vh;
  margin-top:20px;
  font-size:27px;
  font-weight:700;
  padding:30px;
  text-align: center;
  bottom: 0;
}

.que{
  position: relative;
  height:auto;
  width: 100%;
  top: -120px;
  display: flex;
  flex-direction: column;
  bottom:0;
}

.que details{
  
  margin-bottom: 6px;
  width:100%;
  margin-left: 0;
transition: 1s ;
box-sizing: border-box;

}
summary{
  padding: 18px;
  color: white;
  background: #2a2a2a;
  outline: none;
  width: 90%;
  font-size:15px;
}

summary .fa{
float: right;
color:white;
font-size:20px;
}

summary::-webkit-details-marker{
  color:transparent;
  
}



.que details p{
  font-size:15px;
  width: 86%;
  margin-top: 1.5px;
  background: #2a2a2a;
}

.active{
  transform: rotate(135deg);
}

.para{
 margin-top:-100px;
 text-align: center;
 padding:0px 30px;
}

.inp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  position: relative;
  text-align: center;
}
.inp input{
  width:19rem;
  height: 2.3rem;
  
}
.inp input[type="email"]{
  padding: 5px;
}
.inp button{
  background: red;
  color: white;
  width:7rem;
  height:2.5rem;
  border: none;
  outline: none;
  font-size: 15px;
  margin-top: 15px;
}

footer{
 box-sizing: border-box; 
  padding-left:30px;
  
}
.top p, a{
  color: #8c8c8c;
  text-align: left;
  font-size:15px;
}
.top p{
  margin-top:50px;
}
.middle{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  
}
.middle a{
  text-align:left;
  width:50%;
  padding:10px 0px ;
  font-size:13px;
  color: #8c8c8c;
  float: left;
  
}
.middle a:last-of-type{
  text-align: left;
  float: left;
  margin-left: 0;
}
select{
  width: 7.5rem;
  height: 2.8rem;
  padding: 10px;
  background: none;
  border: 0.6px #8c8c8c solid ;
  outline: none;
  color: #8c8c8c;
  margin-top:35px;
  padding-left: 46px;
}
select:hover{
  
  border: 0.6px orange solid ;
}
 footer .fa {
   position: absolute;
  color: #8c8c8c;
  font-size:25px;
  z-index: 222;
  bottom: 65px;
  left: 43px;
}
.bottom p{
  font-size: 14px;
  color: #8c8c8c;
  margin-bottom: 20px;
  margin-top: 20px;
}






  
}/*media end*/