*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
 font-family: Trebuchet MS;
 background:#1c1c1c;
 color: white;
}

a{
 text-decoration: none;
}

button{
 border: none;
 outline: none;
}

/*===============================*/

header{
 display: flex;
 height: auto;
 width: 100%;
 align-items: center;
 justify-content: space-between;
 padding: 10px 10px;
 background: rgba(0,0,0,0.8);
 position: fixed;
 z-index: 999;
}
header nav a {
color: white;
border: none;
margin-right:5px;
font-size:12px;
background: red;
padding:6px 18px;
}
header nav, header .logo{
 display: flex;
 align-items: center;
 justify-content: center;
}
.logo img{
 width: 120px;
}
nav a:nth-child(2){
background: none;
border: 0.3px white solid ;
padding:6px;
}

/*
.top,
.main{
  display:none!important;
}
*/


.top{
position: absolute;
left:18px;
top: 12vh;
width: 100%;
height: auto;
}

.imgcnt img{
 width: 100%;
 height:300px;
}


/*
.top h2{
 padding-bottom: 20px;
}

.top p{
 font-size: 19px;
}
*/

/*==================================*/

.main{
 position: relative;
 top: 340px;
 padding: 30px;
 height: auto;
}

.movie-list{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content:center;
 margin-bottom: 30px;
 
}

.movie-list .heading h4 {
 text-align: left;
 margin-right: auto;
 font-size:18px;
}

 .movie-comtainer::-webkit-scrollbar{
 display: none;

}
 
 
.movie-list .movie-comtainer{
 display: flex;
 max-width:1000px;
 overflow: scroll;
}

.movie-comtainer img{
 margin: 10px 10px 0px 0px;
 width: 320px;
}

.movies{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.movies h5:hover{
 text-decoration: underline;
}

.movies h5{
 padding: 8px;
font-size:14px;
}

/*==================================*/

.sd{
 display: none;
}

/*==================================*/
footer {
 position: relative;
 top:234px;
 left:0;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 height: auto;
 padding-left:40px;
}

footer .head{
 padding: 20px 0px;
}

footer .head a{
 color: #8c8c8c;
}

footer .faq{
 display: flex;
 align-items: center;
 justify-content: flex-start;
 flex-wrap: wrap;
}
footer .faq a{
 padding: 10px 0px;
 width: 25%;
 color: #8c8c8c;
 text-align: left;
}

footer .btm{
 padding: 30px 0px ;
}
 footer select{
  cursor: pointer;
  width: 7.5rem;
  height: 2.8rem;
  padding: 10px;
  background: black;
  border: 0.6px #8c8c8c solid ;
  outline: none;
  color: #8c8c8c;
  padding-left: 46px;
}
.btm {
 position:relative;
}
 .btm .fa {
  position: absolute;
  color: #8c8c8c;
  font-size:25px;
  z-index: 222;
  bottom: 42px;
  left: 20px;
  
}
/*===============================*/
/* newtab*/

.newtab{
  width:100vw;
  min-height:auto;
  max-height:auto;
  background:#000;
  position:relative;
  top:60px;
  left:0;
  right:0;
  transition:0.4s ease;
}
.newtab .t-top{
  width:100%;
  height:300px;
  position:relative;
}
.newtab .t-top img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.newtab .t-middle{
  padding:20px;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
}
.t-middle .t-name,
.t-middle .t-dec,
.t-middle .t-bar{
  margin-bottom:20px;
}
.t-middle .t-name p{
  color:#8c8c8c;
}
.t-middle .t-name p,
.t-middle .t-name h2{
  font-family:Tahoma;
  font-family:Tahoma;
  letter-spacing:4px;
  text-transform:capitalize;
}

.t-middle .t-dec{
  text-transform:capitalize;
  line-height:1.3;
}

.t-middle .t-bar {
  display:flex;
  align-items:center;
  justify-content:center;
  padding:15px;
  background:#2d2d2d;
}
.t-middle .t-bar .bar-head,
.t-middle .t-bar .bar-cntnt{
margin:10px;  
}


.t-middle .t-bar .bar-cntnt > div{
  margin:10px;
}

.t-middle .t-bar .bar-cntnt a{
  padding:5px 20px;
  background:#f00;
  color:#fff;
  font-weight:bold;
  margin:15px;
  border-radius:4px;
}

.t-middle .t-bar .bar-head img{
  height:55px;
  width:35px;
}
.backbtn{
  padding:10px 13px;
  background:#f00;
  color:#fff;
  font-size:20px;
  position:absolute;
  top:10px;
  left:10px;
  z-index:88;
  border-radius:50%;
}


.displaynone{
  opacity:0;
  pointer-events:none;
  display:none;
}
.displayblock{
    opacity:1;
  pointer-events:all;
  display:block;
}
/*===============================*/


@media(max-width:600px){
  .newtab .t-top img{
  width:100%;
  height:auto;
  
}
  
  
 .bd{
  display: none;
 }
 .sd{
 display: block;
 }
 .logo img{
  width: 23px;
 }
 body{
  width:100%;
  position: relative;
 }
.movie-list .movie-comtainer{
 max-width: 100%;
}
.movie-comtainer img{
 width: 150px;
}
.main{
 top: 280px;
 padding: 15px;
}

.movies h5{
 padding: 8px;
 font-weight:100;
 font-style:italic;
 text-align: center;
font-size:12px;
}

footer{
 padding-left:20px ;
}

footer .faq a{
 padding: 10px 0px;
 width: 50%;
 font-size: 12px;
}
footer .btm{
 padding: 16px 0;
} 

 .btm .fa {
  bottom: 26px;
  left: 16px;
}
 
.top{
position: absolute;
top:60px;
left:0;
width: 100%;
height: auto;
}

.imgcnt img{
 width: 100%;
 object-fit:cover;
 height:25vh
}
 
 
}



